<app-header></app-header>
<main>
  <section class="main-section pad-70">
    <div class="headline">
      <span>KIPPER CONSULTORIA</span>
      <h1>A consultoria que você busca para seu software</h1>
    </div>
    <img ngSrc="/assets/principal.png" width="600" height="500">
  </section>
  <section class="benefit-section">
    <div class="benefit-data pad-70">
      <h2>
        <p>
          95% das <br>
        </p>
      </h2>
      <p>não sabem como lidar com problemas de <b>escalibilidade</b> e grande volume de requisições.</p>
    </div>
  </section>
</main>
